{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <ul>
    {%- for post in posts -%}
        <li>
          <span>{{- post.date | date: "%Y-%m-%d" -}}</span>
          <a href="{{ post.url | relative_url }}">{{ post.title}}</a>
        </li>
    {%- endfor -%}
  </ul>
{%- endif -%}