#header {
  background-color: #333333;
  display: flow-root;
  font-family: monospace;
}

#header-elements {
  max-width: 60em;
  margin: 0 auto;
}

#header-left {
  float: left;
  display: flex;
}

#header-right {
  float: right;
  display: flex;
  column-gap: 1em;
}

#header-left a {
  column-gap: 1em;
}

#header a {
  text-decoration: none;
  display: flex;
  color: #ffffff;
  padding: 0.75em;
  height: 64px;
  line-height: 64px;
}

#header a:hover {
  color: #5555ff;
  text-decoration: underline;
}

html, body { background: white; }

html { height: 100%; }

body {
  background-color: #222222;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

a {
  color: #5555ff;
  text-decoration: underline;
}

h2, h3, h4, h5, h6 { 
  margin-top: 3rem;
  font-family: monospace;
}

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

.w {
  max-width: 50em;
  margin: 0 auto;
  padding: 2rem 2rem;
}

h1:before {
  content: '# ';
  color: #AAAAAA;
}

#title:before {
  content: '';
  color: #AAAAAA;
}

li::marker {
  color: #AAAAAA;
}

h2:before {
  content: '## ';
  color: #AAAAAA;
}

h3:before {
  content: '### ';
  color: #AAAAAA;
}

h4:before {
  content: '#### ';
  color: #AAAAAA;
}

h5:before {
  content: '##### ';
  color: #AAAAAA;
}

/* table { width: 100%; } */

th {
    background: #333333;
}

tr:nth-child(even) {
    background-color: #2C2C2C;
}

tr:nth-child(odd) {
    background-color: #282828;
}

table {
    margin-top: 1rem;
}

table, th, td {
  border-collapse: collapse;
  padding: 0.7rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
