---
layout: default
---

<h1>{{ page.title }} <a href="/feed.xml"><img src="/assets/feed.svg" alt="RSS Feed" height="24" style="display: inline;"/></a></h1>



{%-include post_list.html category=page.which_category-%}

{{ content }}
