<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div id="header">
        <div id="header-elements">
            <div id="header-left">
                <a href="/"><img src="/logo.png" class="icon" height="64" alt="Icon"/><span>Schmiddi</span></a>
            </div>
            <div id="header-right">
                <a href="/blog"><span>Blog</span></a>
                <a href="/blogroll"><span>Blogroll</span></a>
            </div>
        </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="w" style="filter: brightness(50%);">
        Found an issue with this site? Feel free to open a merge request againts <a href="{{ site.source_url }}{{ page.path }}">its source file</a>.
      </div>
    </footer>
  </body>
</html>
