---
layout: default
---
<header>
  <h1 id="title">{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<!-- Congratulations, you have found an easter-egg -->
{{ content }}
