---
layout: default
---

<article>
  {% if page.subtitle %}
      <h1>{{ page.title }} <span style="filter: brightness(50%)"> - {{ page.subtitle }}</span> </h1>
  {% else %}
      <h1>{{ page.title }}</h1>
  {% endif %}
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>
  </p>

  {{ content }}
</article>
